$background-color: #0c0b10;
$primary-color: #151419;
$highlight-color: #01b574;
$highlight-color2: #664eff;
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}
* {
    // box-sizing: border-box;
}
iframe {
    display: none !important;
}
body {
    background-color: $background-color !important;
    .MuiButton-root.MuiButton-contained, .MuiTab-root.Mui-selected {
        border-radius: 5px;
        background-color: $highlight-color2;
        &:hover {
            // Make it darker withouth changing the color
            filter: brightness(0.7);
            transform: none !important;
        }
    }
    .swal2-modal {
        background-color: #000 !important;
        border: 1px solid white;
        color: white !important;
    }
    #root {
        min-height: 100vh;
        // Sidebar
        .css-1cjsu7f-MuiPaper-root-MuiDrawer-paper {
            .MuiList-root {
                .MuiBox-root {
                    border-radius: 0;
                    .MuiListItemIcon-root {
                        background-color: #151419 !important;
                        svg {
                            fill: #fff !important;
                            // path {
                            //     fill: #000 !important;
                            // }
                        }
                    }
                    &.css-wac2lw {
                        border-left: 3px solid $highlight-color2;
                        background-color: $primary-color !important;
                        &:hover {
                            background-color: $primary-color !important;
                        }

                    }
                    &:hover {
                        background-color: $primary-color !important;
                        color: #fff !important;
                    }
                }
            }
        }
        // Header
        .css-8t2800, .css-8t2800 .MuiInputBase-root, .css-8t2800 input, .css-19i8cn2, .css-19i8cn2 input, .css-19i8cn2 .MuiInputBase-root{
            border: none;
            border-radius: 5px;
            background: $primary-color !important;
            .css-unz5y7 {
                .MuiIcon-root {
                    color: #fff !important;
                }
                color: #fff !important;
            }
        }
        header.MuiAppBar-root {
            border-radius: 5px;
        }

        // Mobile header
        @media screen and (max-width: 600px){
            .css-141xdzq {
                justify-content: end;
            }
            .css-1edr710 {
                display: none;
            }
        }

        // Dashboard
        .Card-Root {
            background: $primary-color !important;
            border-radius: 5px;
        }
        .Card-Fix {
            border-radius: 5px;
        }
        .Configurator {
            background: $primary-color !important;
        }
        .css-1lcz7bp-MuiPaper-root-MuiCard-root {
            .css-uo81m3 {
                background: transparent !important;
            }
        }

    }
    .deactivate-btn {
        display: none;
    }
    .btn-alarm {
        flex: 1;
        padding: 8px;
        font-size: 12px;
        color: white !important;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        display: block;
        width: 100%;
        cursor: pointer;
        background-color: rgba($highlight-color2, 0.5);
        &:hover {
            background-color: $highlight-color2;
        }
    }
    .leaflet-popup-tip {
        background-color: $primary-color !important;
    }
    .leaflet-popup-close-button {
        display: none !important;
    }
    .leaflet-popup-content-wrapper {
        background-color: $primary-color !important;
        border-radius: 5px;
        color: white !important;
        * {
            color: white !important;
        }

        image {
            border-radius: 5px;
        }
    }
    #AlarmImage {
        position: fixed;
        top: 10vh;
        right: -100%;
        z-index: 9999;
        // background-color: $secondary-color;
        background: rgba($primary-color, 0.5) !important;
        border-radius: 0 !important;
        border-left: 3px solid $highlight-color2;
        transition: all 0.3s;
        &.active {
            right: 20px;
        }
        &:hover {
            background: rgba($primary-color, 1) !important;
            // border: 0.5px solid #fff;
            // border-left: 3px solid $highlight-color2;
        }

        .layout {
            padding: 10px 50px 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        .btn {
            width: 100%;
            display: flex;
            a {
                flex: 1;
                padding: 5px;
                font-size: 12px;
                color: white !important;
                text-align: center;
                cursor: pointer;
                &.c {
                    background-color: rgba(#1e1f23, 0.5);
                    &:hover {
                        background-color: #1e1f23;
                    }
                }
                &.v {
                    background-color: rgba($highlight-color2, 0.5);
                    &:hover {
                        background-color: $highlight-color2;
                    }
                }
            }
        }
        ion-icon {
            color: #FFEA00;
            font-size: 20px;
            margin: 0 20px 0 5px;

        }
        h4 {
            font-size: 14px;
            color: white !important;
        }
        p {
            font-size: 12px;
            color: white !important;
        }
    }
}